<section class="container">
  <h1 class="titulo">Ultimas Simulações</h1>
  <hr />
  @if (simulacoes.length > 0) {
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Juros</th>
            <th  class="to-be-replaced-tipo-calc"><span>Tipo de Calculo</span></th>
            <th class="to-be-replaced-t-juros"><span>Total de Juros</span></th>
            <th class="to-be-replaced-t-div"><span>Total da Dívida</span></th>
            <th class="to-be-replaced-dt-inc"><span>Data de Inclusão</span></th>
          </tr>
        </thead>
        <tbody>
          @for (simulacao of simulacoes; track simulacao.id) {
            <tr>
              <td>{{simulacao.juros}} %</td>
              <td>{{simulacao.tipoCalculo}}</td>
              <td>{{simulacao.totalJuros | currency:'R$':'symbol':'1.2-2':'pt-BR'}}</td>
              <td>{{simulacao.totalDivida | currency:'R$':'symbol':'1.2-2':'pt-BR'}}</td>
              <td>{{simulacao.dataInclusao | date:'dd/MM/yyyy'}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @else {
    <div>
      <p class="informativo__texto">Nenhuma simulação realizada!</p>
    </div>
  }
</section>
