<section class="container card container-right" [ngClass]="{ fechado: !abrirCard }">
  <a type="reset" title="Fechar" (click)="fechar()">
    <img class="img-botao-card" src="../../../../assets/seta-direita.png" alt="Seta para o lado direito"/>
  </a>
  <h2 class="sub-titulo">Calcular Juros</h2>
  <hr />
  <form class="sub-container" (ngSubmit)="calcularJuros()">
    <fieldset class="container-radio">
      <legend>Tipo de Calculo</legend>
      <div class="container-radio-opcao">
        <input
          id="tipo-calculo-linear"
          name="tipo-calculo-linear"
          type="radio"
          [value]="tipoCalculo.Linear"
          class="radio-cursor radio-opcao"
          [(ngModel)]="simulacao.tipoCalculo"
        />
        <label for="tipo-calculo-linear" class="radio-cursor">Linear</label>
      </div>
      <div class="container-radio-opcao">
        <input
          id="tipo-calculo-capitalizado"
          name="tipo-calculo-capitalizado"
          type="radio"
          [value]="tipoCalculo.Capitalizado"
          class="radio-cursor radio-opcao"
          [(ngModel)]="simulacao.tipoCalculo"
        />
        <label for="tipo-calculo-capitalizado" class="radio-cursor">Capitalizado</label
        >
      </div>
    </fieldset>

    <div class="form-group">
      <label for="juros">Juros</label>
      <input
        id="juros"
        name="juros"
        type="text"
        required
        suffix=" %"
        mask="separator.2"
        thousandSeparator="."
        [formControl]="jurosControl"
      />

      @if (jurosControl.invalid && jurosControl.touched) {
        <span class="error">Juros é obrigatório.</span>
      }
    </div>

    <div class="form-group">
      <label for="total-juros">Total de Juros</label>
      <input
        id="total-juros"
        name="total-juros"
        type="text"
        readonly
        prefix="R$ "
        mask="separator.2"
        thousandSeparator="."
        decimalMarker=","
        [ngModel]="simulacao.totalJuros"
      />
    </div>

    <div class="form-group">
      <label for="total-divida">Total da Dívida</label>
      <input
        id="total-divida"
        name="total-divida"
        type="text"
        readonly
        prefix="R$ "
        mask="separator.2"
        thousandSeparator="."
        decimalMarker=","
        [ngModel]="simulacao.totalDivida"
      />
    </div>

    <button type="submit" class="botao botao-grande">Simular Cálculo</button>
  </form>
</section>
