@import url(reset.css);

:root {
  --laranja: rgb(235, 91, 34);
  --cinza: rgb(155, 155, 155);
  --cinza-claro: lightgrey;
  --branco: white;
  --vermelho: red;
  --tempo-efeito: 0.5s;
}

hr {
  width: 100%;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
}

.form-group {
  display: flex;
  flex-direction: column;
}

span.error {
	font-size: 0.8em;
  margin-top: .3em;
	color: var(--vermelho);
}

.container-absolute-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* opacity: 1;
  visibility: visible;
  transition:
    opacity var(--tempo-efeito),
    visibility var(--tempo-efeito); */
}

.card {
  border: 1px solid var(--cinza);
  border-radius: 8px;
  box-shadow: 0px 0px 5px var(--cinza);
  background: var(--branco);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
}

/* .container-absolute-center.fechado {
  opacity: 0;
  visibility: hidden;
} */

.container-right {
  position: fixed;
  top: 16.3em;
  right: 2em;
  transition: transform var(--tempo-efeito) ease;
}

.container-right.fechado {
  transform: translateX(22em);
}

.sub-container {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  gap: 25px;
}

.botoes {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.blur {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}

.blur-transition {
  transition: filter var(--tempo-efeito) ease;
}

.table-wrapper {
  overflow-y: auto;
  height: 50vh;
  margin: 1em;
  border: 1px solid var(--cinza);
}

table {
  text-align: center;
  min-width: max-content;
}

thead {
  position: sticky;
  top: 0px;
  background: var(--laranja);
  color: var(--branco);
  font-size: 20px;
  font-weight: 700;
}

th {
  padding: 1em;
}

td {
  padding: 0.2em;
}

tr {
  border-bottom: 1px solid var(--cinza);
  transition: background-color var(--tempo-efeito) ease-out;
}

tbody tr.selecionado,
tbody tr:hover,
.menu__item:hover,
.botao:hover {
  background-color: var(--cinza);
}

.botao {
  padding: 10px 16px;
  cursor: pointer;
  border: 0px;
  background-color: var(--laranja);
  border-radius: 16px;
  color: var(--branco);
  transition: background-color var(--tempo-efeito) ease-out;
}

.container-radio {
  padding-bottom: 1em;
}

.container-radio-opcao {
  padding-top: 0.5em;
}

.radio-cursor {
  cursor: pointer;
}

.radio-opcao {
  margin-right: 0.5em;
}

.titulo {
  font-size: 50px;
  font-size: 600;
}

.sub-titulo {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.informativo {
  padding: 100% 0;
}

.informativo__texto {
  font-size: 1.5rem;
  font-weight: 500;
}

.botao-grande {
  font-size: 16px;
  font-weight: 500;
  width: 250px;
}

.img-botao-card {
  width: 20px;
  cursor: pointer;
  position: absolute;
  top: 1em;
  left: 1em;
}

@media screen and (max-width: 1500px) {
  table {
    margin-right: 0;
    margin-left: 0;
  }

  .container {
    padding-right: 1em;
    padding-left: 1em;
  }

  .container-right {
    right: 1em;
  }
}

@media screen and (max-width: 1320px) {

  .content {
    margin-right: 19em;
    transition: var(--tempo-efeito);
  }

  .content-closed {
    margin-right: 0em;
  }

  .container-right {
    right: 1em;
  }
}

@media screen and (max-width: 1024px) {

}
