<section class="container blur-transition" [ngClass]="{'blur': cardParcelaAberto}" [ngClass]="{'section-lock': cardCalcularJurosAberto}">
  <h1 class="titulo">Simulador de Cálculo de Juros</h1>
  <hr />
  <div class="container content" [ngClass]="{ 'content-closed': !cardCalcularJurosAberto }">
    <div class="botoes">
      <button class="botao botao-grande" (click)="abrirCardParcela(true)">Incluir Parcela</button>
      @if (parcelas.length > 0) {
        <button class="botao botao-grande" (click)="abrirCardCalcularJuros(true)">Calcular Juros</button>
      }
    </div>

    @if (parcelas.length > 0) {
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th class="to-be-replaced-parc"><span>Parcela</span></th>
              <th>Valor</th>
              <th class="to-be-replaced-dt-venc"><span>Data de Vencimento</span></th>
              <th class="to-be-replaced-dt-inc"><span>Data de Inclusão</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (parcela of parcelas; track parcela.id) {
              <tr [ngClass]="{'selecionado': parcelaSelecionada.id === parcela.id}">
                <td>{{parcela.parcela}}</td>
                <td>{{parcela.valor | currency:'R$':'symbol':'1.2-2':'pt-BR'}}</td>
                <td>{{parcela.dataVencimento | date:'dd/MM/yyyy'}}</td>
                <td>{{parcela.dataInclusao | date:'dd/MM/yyyy'}}</td>
                <td>
                  <button title="Editar Parcela" class="botao-img" (click)="abrirCardParcela(true, parcela.id)">
                    <img class="img-botao" src="../../../assets/edicao.png" />
                  </button>

                  <button title="Excluir Parcela" class="botao-img" (click)="excluirParcela(parcela.id)">
                    <img class="img-botao" src="../../../assets/lixeira.png" />
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
    @else {
      <div class="informativo">
        <p class="informativo__texto">Nenhuma parcela existente!</p>
      </div>
    }
  </div>
</section>

@if (cardParcelaAberto) {
  <app-cadastro-parcela [abrirCard]="cardParcelaAberto" (cardAberto)="abrirCardParcela($event)" [parcelaSelecionada]="parcelaSelecionada"></app-cadastro-parcela>
}

<app-calcular-juros [abrirCard]="cardCalcularJurosAberto" (cardAberto)="abrirCardCalcularJuros($event)"></app-calcular-juros>
